.background{
    background-image: url('./Assets/bg.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    bottom: 0px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1000;
}
.taskbar{
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}
/* .icons-main-hidden{
    opacity: 0.3;
} */
.all-icons{
    display: flex;
    flex-direction: row;
}
