.background{
    background-image: url('./Assets/bg.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    bottom: 0px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1000;
}
.taskbar{
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.all-icons{
    display: flex;
    flex-direction: row;
}
.systemPane{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(0.91);
}

.dynamicDateTime > p{
    margin: 0;
    text-align: center;
}
.dynamicDateTime{
    position: absolute;
    bottom: 1px;
    font-size: 11px;
    right: 53px;
}